@import url('../css/font.css');
@import url('../css/variables.css');


body {
    background-color: var(--bg-dark-blue-primary);
}
h1,h2,h3,h4,h5,h6,h7{
    margin: 0;
    padding: 0;
}
.main-container {
    width: var(--main-container);
    margin: auto;
}

.font-primary {
    font-family: var(--font-primary);
}

.font-secondary {
    font-family: var(--font-secondary);
}

.font-tertiary {
    font-family: var(--font-tertiary);
}

.font-size-xs {
    font-size: 16px;
}

.font-size-sm {
    font-size: 18px;
}

.font-size-md {
    font-size: 20px;
}

.font-size-lg {
    font-size: 22px;
}

.font-size-xl {
    font-size: 24px;
}

.font-size-3xl {
    font-size: 32px;
}

.font-size-4xl {
    font-size: 40px;
}

.font-size-5xl {
    font-size: 64px;
}

.font-size-6xl {
    font-size: 104px;
}

.font-size-7xl {
    font-size: 120px;
}
.section-space {
    padding: var(--section-space) var(--space-side-base) var(--section-space) var(--space-side-base) ;
}
.section-space-second {
    padding: var(--space-side) var(--space-side-base) var(--section-space) var(--space-side-base) ;
}
.section-space-t-md {
    padding-top: var(--section-space);
}
.section-space-y-sm {
    padding: var(--space-side-ii) 0 var(--space-side-ii) 0;
}
.section-space-x-base {
    padding: 0 var(--space-side-base) 0 var(--space-side-base);
}
.text-yellow {
    color: var(--bg-yellow);
}
.text-grey {
    color: var(--bg-grey);
}
.section-title {
    max-width: var(--sectio-title-width-size); 
    margin: auto;
}
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.gap-6 {
    gap: 33px;
}
